API_KEY=sua-chave-secreta-aqui
API_VERSION=v1

# RabbitMQ Configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_AGREEMENT_QUEUE=santander_varejo_return_agreements
RABBITMQ_DOCUMENT_QUEUE=santander_varejo_return_billet

